:root {
   --color-white: rgb(255, 255, 255);
   --color-light-grey: rgb(235, 235, 235);
   --color-grey: rgb(205, 205, 205);
   --color-dark-grey: rgb(135, 135, 135);
   --color-black: rgb(45, 45, 45);

   --font-size-small: 15px;
   --font-size-medium: 20px;
   --font-size-large: 35px;
}

._hide {
   display: none;
   overflow: hidden;
 }